body {
    color: rgba(0, 0, 0, 0.7);
}

header {
    width: 100%;
    height: 306px;
    border-bottom: 1em solid #b0d6f7;
    background: #4999de;
    text-align: center;
}
header img {
    position: relative;
    top: -4px;
    width: 180px;
    margin: 0 auto;
    transition: top 0.15s;
}
header img:hover {
    top: 0px;
}
header a {
    border: none;
}

.mainTitle {
    display: inline-block;
    margin-top: 50px;
    padding-left: 20px; /* this left padding helps to center the main title (was thrown off because of white space on the right side of the last letter) */
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-size: 4em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-shadow: 0 2px 0 #2567a1;
}
.mainTitle .letterE {
    margin-left: -0.02em;
    margin-right: 0.05em;
}
.mainTitle .letterP {
    margin-left: 0.02em;
    margin-right: -0.035em;
}
.mainTitle .letterR {
    margin-right: -0.02em;
}

.subTitle {
    font-family: 'Dosis', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    color: rgba(255,255,255,.9);
    text-shadow: 0 2px 0 #2567a1;
}

.content {
    width: 60%;
    max-width: 1000px;
    margin: 120px auto 0 auto;
    font-size: 18px;
    text-align: left;
}

h2, h3, h4 {
    font-weight: 700;
    color: #4999de;
    margin-top: 2em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2.2em;
    letter-spacing: 0.04em;
}
h3 {
    font-size: 1.2em;
    letter-spacing: 0.02em;
}
h4 {
    font-size: 1em;
}

p {
    margin-bottom: 1em;
}

section {
    width: 90%;
    max-width: 680px;
    margin: 30px auto 30px auto;
}

a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
}
a:visited {
    color: rgba(0, 0, 0, 0.7);
}


figure {
    margin: 40px auto;
}
figure img {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px 2px #f3f3f3;
}

section figure {
    width: 100%;
}
section figure img {
    margin-bottom: 0;
    box-shadow: none;
}

.blue, .grey {
    padding: 4px 10px 4px 10px;
    font-size: 0.8em;
}
.blue {
    border-bottom: 2px solid #428bca;
    background: #4999de;
    color: #fff;
}
.grey {
    border-bottom: 2px solid #ddd;
    background: #eee;
    color: #aaa;
}
.blue:hover, .grey:hover {
    cursor: text;
}

.orange {
    color: #f59322;
}

.value {
    font-family: monospace;
    font-size: 0.9em;
    color: #888;
}

a.startButton {
    display: block;
    width: 50%;
    margin: 80px auto;
    padding: 8px 16px 8px 16px;
    border-bottom: 4px solid #428bca;
    background: #4999de;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-size: 1em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 2px 0 #2567a1;
}
a.startButton:visited {
    color: #fff;
}
a.startButton:active {
    border-top: 4px solid #428bca;
    border-bottom: none;
}

footer {
    width: 90%;
    max-width: 680px;
    margin: 30px auto;
}
